.horizontalCohortSelector .inner-column.flex {
    flex-direction: column;
    align-items: start;
    border-radius: 1em;
    font-weight: 600;
    background-color: white;
    gap: 0;
    padding-block: 1em;
}

.cohort-1-container {
    display: flex;
    gap: 3.5em;
    width: 98%;
    margin-block: 1em;
    position: relative;
    max-width: var(--section-width);
}

.horizontal-cohort-paragraphs > p {
    margin: 0;
}

.horizontal-cohort-1 {
    display: flex;
    align-items: center;
    padding-block: 0.75em;
    justify-content: space-between;
    gap: 2em;
}

.horizontal-cohort-paragraphs {
    font-weight: 600;
    color: black;
}

a {
    color: black;
}

@media only screen and (max-width: 768px) {
    .horizontalCohortSelector .inner-column {
        display: flex;
        flex-direction: column;
    }

    .cohort-1-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .horizontal-cohort-1 {
        max-width: 17.5em;
    }
}
