.join-cohort {
    color: var(--btn-ink);
    height: 40px;
    width: 110px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}

.schedule-button {
    background-color: var(--call-jared);
    color: var(--btn-ink);
    min-width: 300px;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}

.purchase-box-button {
    background: #ec621d;
    padding: 0.5em;
    width: 100%;
    margin-top: 1.5em;
}

button {
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}

.btn-shadow {
    box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
        1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
        -6px 6px 0px 0px rgb(0 0 0);
    -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
        1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
        -6px 6px 0px 0px rgb(0 0 0);
    -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
        -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
        -1px 1px 0px 0px rgb(0, 0, 0), -6px 6px 0px 0px rgba(0, 0, 0, 1);
    position: relative;
}

.btn-shadow:hover {
    box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
        1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
        -3px 3px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
        -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
        -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
        -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
        -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    top: 3px;
    left: -3px;
}

@media (max-width: 768px) {
    .schedule-button {
        min-width: 240px;
    }
}
