.join-cohort {
    background-color: var(--accent-2);
    color: var(--btn-ink);
    height: 40px;
    width: 110px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}

.horizontalCohortSelector .join-cohort {
    background-color: var(--accent-1);
}

.video-series .btn {
    background-color: var(--accent-1);
}

.schedule-aside .btn {
    background-color: var(--accent-1);
}

.schedule-button {
    background-color: var(--accent-2);
    color: var(--btn-ink);
    height: 40px;
    width: 100%;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}

.btn {
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}

.btn-shadow {
    box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
        1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
        -6px 6px 0px 0px rgb(0 0 0);
    -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
        1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
        -6px 6px 0px 0px rgb(0 0 0);
    -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
        -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
        -1px 1px 0px 0px rgb(0, 0, 0), -6px 6px 0px 0px rgba(0, 0, 0, 1);
    position: relative;
}

.btn-shadow:hover {
    box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
        1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
        -3px 3px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
        -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
        -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
        -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
        -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    top: 3px;
    left: -3px;
}