:root {
    /* Colors */
    --hue: 0;

    --black: hsla(var(--hue), 0%, 4%, 1);
    --white: hsla(var(--hue), 0%, 100%, 1);
    --off-white: hsla(var(--hue), 0%, 97%, 1);

    --ink: hsla(0, 0%, var(--black), 0.75);
    --paper: var(--white);
    --btn-ink: var(--white);

    --accent-1: hsla(320, 47%, 27%, 1);
    --accent-1-overlay: hsla(320, 47%, 27%, 0.9);
    --accent-2: #ec621d;

    --metrics-accent-1: hsla(183, 97%, 21%, 1);
    --metrics-accent-2: hsl(327, 84%, 33%, 1);

    /* Font */
    --font-bold: 600;

    /* Layout */
    --content-max-width: 60rem;
    --column-padding: 0em;

    /* Spacing */
    --text-padding: 1em;
}

@media only screen and (max-width: 1200px) {
    :root {
        --column-padding: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --column-padding: 3rem;
    }
}

/* :root {
    --custom: rgb(122, 140, 31);

    --bgMain: var(--darkGreen);
    --accent: var(--darkGreen);
    --accentBG: var(--darkGreen);

    --darkBlue: #006f74;
    --brightBlue: #00a3b4;
    --darkGreen: #575e22;
    --brightGreen: #8c9b28;
    --darkRed: #951a1d;
    --brightRed: #d52327;
    --darkPurple: #662547;
    --brightPurple: #9b0e5b;
    --orange: #9b621c;
    --darkOrange: #c14e27;
    --brightOrange: #ec621d;
    --darkYellow: #d8a739;
    --brightYellow: #ffcd5e;
    --pink: #dd4e4e;
    --brightPink: #e3635f;
    --darkPink: #c04343;

    --white: #fff;
    --lightGray: #f2f2f2;
    --darkGray: #a3a3a3;
    --ink: #2c2c2c;
    --caption: hsl(0, 0%, 40%);
    --black: #000000;

} */

/* 
.text-white {
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}

.bg-lightGray {
    background-color: var(--lightGray);
}

.bg-darkRed {
    background-color: var(--darkRed);
}

.bg-brightRed {
    background-color: var(--brightRed);
}

.bg-darkBlue {
    background-color: var(--darkBlue);
}

.bg-brightBlue {
    background-color: var(--brightBlue);
}

.bg-darkGreen {
    background-color: var(--darkGreen);
}

.bg-brightGreen {
    background-color: var(--brightGreen);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-custom {
    background-color: var(--custom);
}

.bg-brightOrange {
    background-color: var(--brightOrange);
}

.bg-darkOrange {
    background-color: var(--darkOrange);
}

.bg-darkYellow {
    background-color: var(--darkYellow);
}

.bg-brightYellow {
    background-color: var(--brightYellow);
}

.bg-darkPurple {
    background-color: var(--darkPurple);
}

.bg-brightPurple {
    background-color: var(--brightPurple);
}

.bg-main {
    background-color: var(--main);
}

.bg-white {
    background-color: var(--white);
}

.bg-lightGray {
    background-color: var(--lightGray);
}

.bg-darkGray {
    background-color: var(--darkGray);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-pink {
    background-color: var(--pink);
} */

/* DIVIDER - can be done with an HR element?*/
/* 
.border-sandwich {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.border-top {
    border-top: 1px solid gray;
}

.border-bottom {
    border-bottom: 1px solid gray;
} */

/* LAYOUT - for what? */

/* .split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-items: center;
    justify-content: center;
}

@media (min-width: 1400px) {
    :root {
        --section-padding: 4em;
        --module-padding: 6em;
    }
}  */