html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

picture {
    display: block;
    overflow: hidden;
}

.img-resp {
    width: 100%;
    height: auto;
    display: block;
}

/* delete? */
.img-icon {
    max-width: 100%;
    display: block;
}

/* picture {
    display: block;
    overflow: hidden;
} */

svg {
    display: block;
    width: 100%;
}
