:root {
    --calm-voice: 1rem; /* 20px */
    --headline-voice: 1.2rem; /* 24px */
    --mobile-small-voice: 1rem; /* 20px */
    --loud-voice: 1.5rem; /* 30px */
    --attention-voice: 3rem; /* 48px */
}
body {
    font-family: "Open Sans", sans-serif;
}

/* UNIVERSAL1.3em for p */
* p,
li,
span {
    line-height: 1.5em;
    max-width: 70ch;
    margin: 0;
    color: var(--ink);
    font-size: var(--calm-voice);
}

* span {
    line-height: 1.5em;
}

h1 {
    font-size: var(--attention-voice);
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
}

h3,
h4 {
    line-height: 1.5em;
    margin-top: 1em;
}

h2 + p,
h3 + p,
h3 + button {
    margin-top: 1em;
}

p + p {
    margin-top: 1em;
}

li + li {
    margin-top: 1em;
}

.strong {
    font-weight: 700;
}

em {
    font-style: italics;
    margin-top: 1em;
}

.semi-strong {
    font-weight: 600;
}

.calendar-container {
    margin: 0 auto;
    width: 75%;
    max-width: 60em;
    /* font-weight: bold; */
    margin-bottom: 3em;
}

/* .sub-container {} */
/* for mobile maybe change the width on all elements to 90% */

.max-width-90 {
    max-width: 90%;
}

.margin-right-10 {
    margin-right: 10em;
}

.purchase-box-button-white {
    color: white;
    text-decoration: none;
}

/* button styles for monthly cohort page */

/*!MOBILE STYLES */

@media only screen and (max-width: 768px) {
    :root {
        --mobile-small-voice: 1rem; /* 16px */
        --attention-voice: 2.2rem; /* 35px */
    }

    .calendar-container {
        width: 85%;
    }
}
