.flex {
    display: flex;
    gap: 20px;
}

.no-margin {
    margin: 0;
}

.relative {
    position: relative;
}

.placeholder {
    opacity: 0;
    pointer-events: none;
    z-index: -100;
    height: 10px;
    margin-left: auto;
}

.sticky {
    height: fit-content;
    position: sticky;
    top: 0;
}

@media (max-width: 500px) {
    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    .centercenter {
        align-items: flex-start;
    }

}