.footer-wrapper {
    background-color: var(--realblack);
    padding: 32px 0px 48px 0px;
    max-width: 100%;
}

.footer .logo-row {
    display: flex;
    gap: 2em;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: var(--white);

    p,
    li,
    address {
        font-style: normal;
    }

    li + li {
        margin-top: 1em;
    }

    .program-links-row,
    .copyright-row {
        display: grid;
        grid-template-columns: 300px 1fr 1fr;
        margin-top: 0;
    }

    .copyright-text {
        margin: 0;
    }
}

.footer .white-logo {
    max-width: 200px;
    padding-top: 0;
}

.dark-footer p {
    color: #ffffff;
    font-size: 15px;
}

.phone-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    /* color: red; */
}

.disclaimer {
    max-width: 300px;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
    font-size: 15px;
}

footer a:hover {
    text-decoration: none;
}

footer a:active {
    text-decoration: underline dashed;
}

/* Responsive Styles */
@media only screen and (max-width: 759px) {
    .program-links-row,
    .copyright-row {
        flex-direction: column;
        margin-top: 1.5em;
    }

    .program-links-row .program-links {
        margin-top: 3em;
    }

    .footer {
        address {
            font-style: normal;
        }

        .program-links-row,
        .copyright-row {
            display: flex;
            flex-direction: column;
        }

        .logo-row {
            flex-direction: column;
        }
    }

    .copyright-row {
        gap: 2em;
    }
}

@media only screen and (min-width: 760px) {
    .hide-on-desktop {
        display: none;
    }
}
