.header-background {
    background-color: var(--off-white);
    padding-block: 1rem;
    background-position: center;
    position: relative;
    z-index: 100;
}

.header-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Adjust the path */
    background-position: center;
    opacity: 0.25;
    z-index: -1;
    background-blend-mode: overlay;
}

.new-nav {
    padding-block: 1rem;
}

.research-logo {
    max-width: 10em;
    height: auto;
}

/* Styling for the Hero section */
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding-block: 1em;
}

.hero .programName {
    max-height: 20em;
    max-width: 20em;
    height: auto;
}

.hero .jared {
    max-width: 10em;
    max-height: 10em;
    height: auto;
}

.hero-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
}

.hero-paragraphs p {
    margin: 0.25em;
    font-size: 20px;
}

/* Styles for the main heading and subtitle */
h1 {
    font-size: 3em;
    margin: 1em 0 0 0;
}

.online-course {
    font-size: 1.2em;
    margin-top: 0;
}

/* Responsive styles for smaller screens */
/* Updated styles for the header-links in mobile view */
@media (max-width: 1200px) {
    .header {
        padding-inline: 1em;
    }

    .header h1 {
        font-size: 30px;
    }

    .header-background .flex {
        flex-direction: column;
    }

    .header-background .research-logo {
        display: none;
    }

    .hero-paragraphs p {
        font-size: 20px;
    }
}

@media (max-width: 620px) {
    .hero .jared {
        display: none;
    }
}
