.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 10px;
}

/* Logo styles */
.header-logo {
    width: 10em;
}

/* Link styles */
.header-nav a:not(a.the-cc-logo) {
    color: #016267;
    font-weight: bold;
    text-decoration: none;
    padding-inline: 1em;
}

/* Default styles for the links */
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: #016267;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #016267;
    transition: 0.3s;
}

.hamburger-image {
    width: 7em;
}

@media (max-width: 820px) {
    .header-links {
        display: none;
        /* Hide links on mobile by default */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: auto;
        /* Set width to auto to accommodate the longest text */
        min-width: 200px;
        /* Optional: set a minimum width */
    }

    .header-links.open {
        display: flex;
        align-items: stretch;
        /* Show links when menu is open */
        padding-block: 1em;

        div {
            padding: 1rem 0.5rem;
            font-size: 1.2rem;
        }
    }

    .header-links.open li:hover {
        background-color: #eaeaea;
    }

    .header-links a:not(.the-cc-logo) {
        display: block;
        /* Reduce padding on the right */
        text-align: left;
        /* Align text to the left */
        width: 100%;
        /* Make the link take up the full width of the container */
        white-space: nowrap;
        /* Prevent text wrapping */
        text-decoration: none;
        /* Remove default underline */
        color: #016267;
    }

    .header-links div:hover,
    .header-links div:active {
        text-decoration: underline;
        /* Add underline on hover and active */
    }

    .hamburger {
        display: flex;
        /* Show hamburger icon on mobile */
    }

    .header-nav {
        flex-direction: row;
    }
}