.testimonials-container {
    border: 2px solid transparent;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-blend-mode: multiply;

    /* position: absolute; */
    /* text-wrap: nowrap; */

    /* left: 20px; */
}

.divider {
    border: 1px solid white;
    margin-left: 0.5em;
    margin-right: 1.5em;
}

.testimonials-test {
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 60px 45px 25px 25px;
    height: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    position: relative;
}

.testimonials-star {
    width: 8em;
    position: absolute;
    top: -45px;
    /* Moves the image upwards by 20% of its height */
    left: 90px;
    transform: translateX(-50%);
}

.vertical-testimonial {
    width: 19em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 45px 25px 25px 25px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 5px;
    background-color: #ffffff;
}

.vertical-testimonial p {
    margin-top: 0em;
    padding-top: 1em;
}

@media only screen and (max-width: 820px) {
    /* Adjust the width for mobile devices */
    .testimonials-test {
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 30px 30px 25px 25px;
    }

    .testimonials-star {
        width: 8em;
        position: absolute;
        /* Moves the image upwards by 20% of its height */
        transform: translateX(-50%);
    }

    .testimonial-container {
        display: flex;
        flex-direction: column;
    }

    .divider {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
}

@media (max-width: 768px) {
    .testimonials-star {
        left: 40px;
        position: absolute;
        /* Moves the image upwards by 20% of its height */
        transform: translateX(-50%);
        transform: translateY(-20%);
    }
}

@media (max-width: 400px) {
    .testimonials-star {
        left: 40px;
        position: absolute;
        /* Moves the image upwards by 20% of its height */
        transform: translateX(-30%);
        transform: translateY(-20%);
    }
}
