.courseSchedule {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    width: 75%;
    /* border: 1px solid red; */
    max-width: 60em;
}

.courseSchedule-pretext-wrapper {
    margin: 2em auto;
    max-width: 60em;
    display: flex;
    gap: 2em;
    position: relative;
}

.left-scroll-content {
    height: auto;
    display: flex;
    margin: 0 auto;
    width: 75%;
    max-width: 60em;
}

.right-scroll-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: sticky;
    top: 0;
    min-width: 20em;
}

.courseSchedule p,
li,
h4 {
    max-width: 100%;
}

.courseSchedule p,
ul,
h4 {
    /* line-height: 1.4em; */
}

.courseSchedule h2,
h4 {
    margin-bottom: 0;
}

.courseSchedule h1 {
    margin-top: 0.3em;
}

@media only screen and (max-width: 768px) {
    .courseSchedule {
        width: 85%;
    }

    /* Adjust the width for mobile devices */
    .courseSchedule p,
    li,
    h2 {
        max-width: 100%;
    }

    .courseSchedule h1 {
        font-size: 2em;
        margin-top: 0.1em;
        margin-bottom: -0.5em;
    }
}

@media only screen and (max-width: 941px) {
    .courseSchedule-content-test {
        display: flex;
        flex-direction: column;
    }

    .left-scroll-content {
        height: auto;
        display: flex;
        margin: 0 auto;
        width: 100%;
        max-width: 60em;
    }

    .courseSchedule {
        .right-scroll-content {
            display: none;
        }
    }
}