:root {
    /* Colors */
    --hue: 0;

    --black: hsla(var(--hue), 0%, 4%, 1);
    --white: hsla(var(--hue), 0%, 100%, 1);
    --off-white: hsla(var(--hue), 0%, 97%, 1);

    --ink: hsla(0, 0%, var(--black), 0.75);
    --paper: var(--white);
    --btn-ink: var(--white);

    --accent-1: hsla(68, 58%, 38%, 1);
    --accent-1-overlay: hsla(68, 58%, 38%, 0.9);
    --accent-2: hsla(68, 62%, 33%, 1);
    --accent-2-overlay: hsla(68, 62%, 33%, 0.9);
    --accent-cta: var(--accent-2);

    /* Font */
    --font-bold: 600;

    /* Layout */
    --content-max-width: 60rem;
    --column-padding: 0em;

    /* Spacing */
    --text-padding: 1em;
}

@media only screen and (max-width: 1200px) {
    :root {
        --column-padding: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --column-padding: 3rem;
    }
}
