:root {
    /* Colors */
    --hue: 0;

    --black: hsla(var(--hue), 0%, 4%, 1);
    --white: hsla(var(--hue), 0%, 100%, 1);
    --off-white: hsla(var(--hue), 0%, 97%, 1);

    --ink: hsla(0, 0%, var(--black), 0.75);
    --paper: var(--white);
    --btn-ink: var(--white);

    --accent-1: hsla(320, 47%, 27%, 1);
    --accent-1-overlay: hsla(320, 47%, 27%, 0.9);
    --accent-2: #ec621d;

    /* Font */
    --font-bold: 600;

    /* Layout */
    --content-max-width: 60rem;
    --column-padding: 0em;

    /* Spacing */
    --text-padding: 1em;
}

@media only screen and (max-width: 1200px) {
    :root {
        --column-padding: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --column-padding: 3rem;
    }
}

body {
    /* width: 80%;
  border: 1px solid red;
  margin: 0 auto; */
    font-family: "Open Sans", sans-serif;
}

/* UNIVERSAL1.3em for p */
* p {
    line-height: 1.5em;
    max-width: 70ch;
}

* span {
    line-height: 1.5em;
}

h1 {
    font-weight: 800;
}

h3,
h4 {
    line-height: 1.5em;
}

.calendar-container {
    margin: 0 auto;
    width: 75%;
    max-width: 60em;
    /* font-weight: bold; */
    margin-bottom: 3em;
}

/* .sub-container {} */
/* for mobile maybe change the width on all elements to 90% */

.btn {
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;
}

.btn-shadow {
    box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
        1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
        -6px 6px 0px 0px rgb(0 0 0);
    -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
        1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
        -6px 6px 0px 0px rgb(0 0 0);
    -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
        -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
        -1px 1px 0px 0px rgb(0, 0, 0), -6px 6px 0px 0px rgba(0, 0, 0, 1);
    position: relative;
}

.btn-shadow:hover {
    box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
        1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
        -3px 3px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
        -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
        -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
        -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
        -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    top: 3px;
    left: -3px;
}

.max-width-90 {
    max-width: 90%;
}

.margin-right-10 {
    margin-right: 10em;
}

.purchase-box-button-white {
    color: white;
    text-decoration: none;
}

/* button styles for monthly cohort page */
