.metrics-global {
    --accent-1: hsla(183, 95%, 21%, 1);
    --accent-1-overlay: hsla(183, 95%, 21%, 0.9);
    --accent-2: hsla(327, 84%, 33%, 1);
}

.goals {
    background-color: var(--off-white);
}

@media only screen and (max-width: 1200px) {
    :root {
        --column-padding: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --column-padding: 3rem;
    }
}
